<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>파일 확장자 차단</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
                                  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                                  crossorigin="anonymous">
</script>
  <script src="https://kit.fontawesome.com/f6f4811ccf.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<h1>파일 확장자 차단</h1>
<hr>
<p style="font-size:26px;">파일 확장자에 따라 특정 형식의 파일을 첨부하거나 전송하지 못하도록 제한</p>
<table style="width: 70%; height:50px; display: table; table-layout: fixed" >
  <tr>
    <th>고정 확장자</th>
{{#fixedExtensionList}}
  <td style="display: table-cell">
      <input type="checkbox" value="{{name}}"/>
      <span> {{name}}</span>
  </td>
  {{/fixedExtensionList}}
  </tr>
  <tr>
    <th>커스텀 확장자</th>
    <td colspan="4">
        <input style="width: 100%; border-radius: 5px" type="text" id="customExtensionName" placeholder="확장자 입력"/>
    </td>
    <td>
      <button type="button" id="insertCustomExtension" style="border: 0px; border-radius: 5px;">
        <i class="fa-solid fa-plus"></i>
        추가
      </button>
    </td>
  </tr>
  <tr>
    <th></th>
    <td colspan="7">
      <div style="width: 100%; height: 364px; border: 1px solid black; border-radius: 5px">
        <p style="padding-left: 10px">{{customExtensionSize}}/200</p>
          <div style="padding-left: 10px">
        {{#customExtensionList}}
            <span style="display:inline-block; text-align: center; margin: auto; height: 33px; border: 1px solid black; border-radius:5px; width: 12%;">
              {{name}}
              <button style="border: none; background-color:transparent">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </span>
        {{/customExtensionList}}
          </div>
      </div>
    </td>
  </tr>
</table>
<script src="insertCustomExtension.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>